<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Heading</h3>
        <div class="container-2">
            <img src="data:;base64,{{ pic }}" alt="">
            <div class="name">

                <h5 class="no"><b>Name</b> : {{all.name}}</h5>
                <h5><b>Address</b> : {{all.address}}</h5>
                <h5 class="no"><b>Mobile number</b> : {{all.mob}}</h5>
                <h5 class="no"><b>lUCKY NUMBER</b> : {{all.luck}}</h5>
                <h5 class="no"><b>group</b> : {{all.group}}</h5>


            </div>
        </div>
    </div>
</body>
</html>